* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px;
  line-height: 1; }

body {
  margin: 0;
  color: #60606E;
  font-family: "Open Sans", sans-serif; }

.container {
  max-width: 1200px; }

img {
  max-width: 100%;
  height: auto; }

button {
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

header {
  min-height: 500px;
  text-transform: uppercase;
  background: url(../img/Layer-4.png) no-repeat;
  background-size: 100% 500px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }
  header .top-head {
    position: relative; }
    header .top-head .logo {
      width: 50px;
      margin-left: -15px;
      padding-top: 25px;
      font-size: 1.8rem; }
      header .top-head .logo a {
        text-decoration: none;
        color: inherit; }
    header .top-head .menu-toggle {
      position: absolute;
      top: 34px;
      right: 43px;
      display: block;
      width: 31px;
      height: 15px; }
      header .top-head .menu-toggle .menu-icon {
        position: relative;
        z-index: 10;
        display: block;
        width: 31px;
        height: 15px;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        border-top: 1px solid #7A7A85; }
        header .top-head .menu-toggle .menu-icon::before {
          position: absolute;
          top: 7px;
          left: 0;
          width: 15px;
          content: '';
          border-top: 1px solid #7A7A85; }
        header .top-head .menu-toggle .menu-icon::after {
          position: absolute;
          top: 14px;
          left: 0;
          width: 23px;
          content: '';
          border-top: 1px solid #7A7A85; }
        header .top-head .menu-toggle .menu-icon.active {
          -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
                  transform: rotate(90deg); }
    header .top-head .menu-gamb {
      position: absolute;
      top: 20px;
      right: 35px;
      display: none;
      width: 40%; }
      header .top-head .menu-gamb ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        header .top-head .menu-gamb ul .menu-gamb-item {
          width: 100%;
          padding: 20px;
          color: #fff;
          border-bottom: 1px solid #e5e5e5;
          background: #7beec7; }
          header .top-head .menu-gamb ul .menu-gamb-item a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: inherit; }
      header .top-head .menu-gamb.active {
        display: block; }
  header .page-titles {
    padding-top: 200px; }
    header .page-titles .page-title {
      margin: 0;
      font-family: "Montserrat";
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4.8rem; }
    header .page-titles .page-tree {
      margin: 0;
      font-family: "Montserrat";
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 4.8rem; }

main .blogs {
  padding-top: 25px;
  padding-bottom: 100px; }
  main .blogs .post {
    margin-top: 100px; }
    main .blogs .post .top-block {
      margin-top: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      font-family: 'Montserrat';
      font-size: 1.4rem;
      line-height: 2rem; }
      main .blogs .post .top-block .date {
        width: 25%;
        color: #fff;
        background: #7BEEC7;
        padding: 5px;
        font-weight: bold; }
      main .blogs .post .top-block .comment,
      main .blogs .post .top-block .likes {
        font-size: 1.2rem;
        font-weight: normal;
        width: 8%;
        text-align: center;
        padding-top: 4px; }
        main .blogs .post .top-block .comment a,
        main .blogs .post .top-block .likes a {
          text-decoration: none;
          color: #CCC; }
    main .blogs .post .bottom-block .title {
      font-family: 'Montserrat';
      font-size: 1.8rem;
      line-height: 4.8rem;
      color: #60606E;
      margin-bottom: 10px; }
    main .blogs .post .bottom-block .text {
      font-family: 'Open sans';
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: #999; }
    main .blogs .post .bottom-block .continue {
      width: 25%;
      font-family: 'Montserrat';
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: #60606E;
      display: block;
      margin-top: 15px;
      margin-bottom: 25px; }
      main .blogs .post .bottom-block .continue:hover {
        text-decoration: none;
        color: #CC3E44; }

main .sidebar .title {
  margin-top: 40px;
  margin-bottom: 15px;
  font-family: "Montserrat";
  color: #60606E;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 4.5rem; }

main .sidebar form {
  margin-top: 125px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  main .sidebar form input, main .sidebar form button {
    background: #ECECEC;
    outline: none;
    border: none; }
  main .sidebar form input {
    width: 80%;
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 4.5rem;
    color: #60606E;
    padding-left: 15px; }
    main .sidebar form input:-webkit-input-placeholder {
      font-family: "Montserrat";
      font-size: 1.2rem;
      color: #60606e; }
  main .sidebar form button {
    width: 20%;
    font-size: 1.8rem; }
    main .sidebar form button:hover {
      background: #60606e;
      color: #ececec; }

main .sidebar .posts .nav {
  border: none; }
  main .sidebar .posts .nav li {
    width: 33.33%;
    text-align: center;
    border-bottom: 2px solid #E6E6E6; }
    main .sidebar .posts .nav li.active {
      border-bottom-color: #7BEEC7; }
      main .sidebar .posts .nav li.active a {
        color: #60606E; }
    main .sidebar .posts .nav li:last-child a {
      padding-left: 3px; }
    main .sidebar .posts .nav li a {
      border: none;
      padding: 8px;
      padding-top: 10px;
      padding-bottom: 15px;
      color: #999999;
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 1.2rem; }

main .sidebar .posts .tab-content {
  margin-top: 30px; }
  main .sidebar .posts .tab-content .tab-pane .post {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px; }
    main .sidebar .posts .tab-content .tab-pane .post-image {
      overflow: hidden;
      width: 32%;
      height: 82px; }
      main .sidebar .posts .tab-content .tab-pane .post-image img {
        width: 100%;
        height: 100%; }
    main .sidebar .posts .tab-content .tab-pane .post-content {
      width: 68%;
      padding-top: 15px;
      padding-left: 15px; }
    main .sidebar .posts .tab-content .tab-pane .post-title {
      font-family: "Montserrat";
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-weight: bold;
      color: #60606E; }
    main .sidebar .posts .tab-content .tab-pane .post-date {
      font-family: "Open Sans";
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: #9A9A9A; }

main .sidebar .categories .title {
  margin-bottom: 0; }

main .sidebar .categories .table tbody tr td {
  border: none;
  border-bottom: 1px solid #ddd; }

main .sidebar .tags ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }
  main .sidebar .tags ul li a {
    display: block;
    padding: 0 15px;
    background: #E5E5E5;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 4.5rem;
    color: #999999;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent; }
    main .sidebar .tags ul li a:hover {
      border: 1px solid #e5e5e5;
      background: #999999;
      color: #e5e5e5; }

main .sidebar .archives .title {
  margin-bottom: 0; }

main .sidebar .archives .table tbody tr td {
  border: none;
  border-bottom: 1px solid #ddd; }

footer {
  background: #7beec7; }
  footer .foot-title {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bold; }
  footer .button {
    width: 165px;
    height: 47px;
    margin-bottom: 130px;
    color: #7beec7;
    border: none;
    outline: none;
    background: #fff;
    font-family: "Montserrat";
    font-size: 1.4rem; }
    footer .button:hover {
      color: #fff;
      border: 1px solid #fff;
      background: #7beec7; }

.form {
  margin-top: 50px;
  padding: 20px;
  background: #fff; }
  .form .form-name {
    margin: 0;
    color: #60606e;
    font-family: "Montserrat";
    font-size: 2.4rem;
    font-weight: bold; }
  .form .form-instr {
    margin-bottom: 30px;
    font-size: 1.6rem; }
  .form .send {
    display: inline-block;
    width: 100%;
    font-size: 0; }
    .form .send .email {
      width: 75%;
      max-width: 100%;
      height: 50px;
      padding-left: 20px;
      color: #60606e;
      border: 1px solid #cdcdcd;
      font-size: 1.2rem; }
      .form .send .email::-webkit-input-placeholder {
        color: #CDCDCD;
        font-family: "Montserrat";
        font-size: 1.2rem; }
    .form .send .form-button {
      width: 25%;
      max-width: 100%;
      height: 50px;
      color: #fff;
      border: none;
      outline: none;
      background: #7beec7;
      font-family: "Montserrat";
      font-size: 1.4rem;
      font-size: 1.4rem; }
      .form .send .form-button:hover {
        color: #7beec7;
        border: 1px solid #7beec7;
        background: #fff; }
